<main class="menu grid h-full w-full">
    <section class="top grid">
        <article id="camera" class="overr flex justify-center items-center">
            <span
            *ngIf="loading"
             class="loading loading-dots loading-lg"></span>

             <div
             *ngIf="!loading"
             class="indxx"
             >
                <div class="valores">
                    <h1>Weight</h1>
                    <h3>{{ peso }} KG</h3>
                </div>
                <div class="urls">
                    <input type="text" class="urlinput" [(ngModel)]="newurl">
                    <button (click)="updateUrl()" class="btn">Load New URL</button>

                </div>

                <div class="valores">
                    <h1>Inclination</h1>
                    <h3>{{ grados }} °</h3>
                </div>
             </div>
            <iframe
                *ngIf="!loading"
                class="h-full w-full vdd"
                [src]="url"
                allowfullscreen
                autoplay
                >
            </iframe>

        </article>
        <article id="map">
            <app-maps/>            
        </article>
    </section>

    <section class="bottom grid">

        <label class="switch">
            <input type="checkbox" (change)="onCheckboxChange($event)" [checked]="isCheckboxChecked">
            <span class="slider"></span>
          </label>
          <h1  class="switch2">Active Controls</h1>

        <app-controller class="b11" *ngIf="activecontrols"></app-controller>

        <article class="bgg" >

            <div class="max-w-xl border bghs p-8">
                <app-graficatemp></app-graficatemp>
              </div>

              <div class="max-w-xl border p-8">
                <app-gradica-velocidad></app-gradica-velocidad>
              </div>
        </article>
    </section>
</main>

