<main class="menu grid h-full w-full">
    <section class="top grid">
        <article id="camera" class="flex justify-center items-center">
            <span
            *ngIf="loading"
             class="loading loading-dots loading-lg"></span>
            <iframe
                *ngIf="!loading"
                class="h-full w-full"
                src="https://player.twitch.tv/?channel=elabrahaham&parent=localhost"
                allowfullscreen
                autoplay
                >
            </iframe>
        </article>
        <article id="map">
            <app-maps/>            
        </article>
    </section>
    <section class="bottom grid">
        <article class="h-full w-full p-5 flex justify-between items-center gap-5">
            <app-card-graph-line [sensorName]="'Temperatura'" [sensorIcon]="'bi bi-thermometer-half'" [sensorValue]="90"
                [data]="data" [labels]="labels" [fill]="fill" [backgroundColor]="backColor" [borderColor]="borderColor"
                [tension]="tension" [responsive]="responsive" />

            <app-card-graph-line [sensorName]="'Velocidad'" [sensorIcon]="'bi bi-thermometer-half'" [sensorValue]="30"
                [data]="data" [labels]="labels" [fill]="fill" [backgroundColor]="backColor" [borderColor]="borderColor"
                [tension]="tension" [responsive]="responsive" />

            <app-card-graph-line [sensorName]="'Angulo'" [sensorIcon]="'bi bi-thermometer-half'" [sensorValue]="90"
                [data]="data" [labels]="labels" [fill]="fill" [backgroundColor]="backColor" [borderColor]="borderColor"
                [tension]="tension" [responsive]="responsive" />

            <app-card-graph-line [sensorName]="'Angulo'" [sensorIcon]="'bi bi-thermometer-half'" [sensorValue]="90"
                [data]="data" [labels]="labels" [fill]="fill" [backgroundColor]="backColor" [borderColor]="borderColor"
                [tension]="tension" [responsive]="responsive" />
        </article>
    </section>
</main>