.menu{
    grid-template-rows: 1.5fr 1fr;
    gap: 1rem;
}

.top{
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
}

article{
    background-color: #272b2e;
    border-radius: 10px;
}

.bottom {
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
}
.bgg {
    display: flex;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 2vh;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.212);
    flex-direction: row;
    gap: 2vh;
    padding: 2vh;
    grid-column: 2;
}

.bghs {
    background-image: linear-gradient(to top, rgb(78, 0, 0), rgb(0, 0, 71));
}

.border {
    border-radius: 3vh;

}

.indxx{
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: center;
    z-index: 5;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
}

.overr{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}
.vdd{
    position: relative;
    z-index: 1;
}

.urls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vh;
    flex-direction: column;
}

.urlinput {
    width: 100%;
    border-radius: 2vh;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    height: 5vh;

}
.valores{
    width: 20vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 2vh;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    margin-bottom: 4vh;
    margin-left: 4vh;
    margin-right: 4vh;
    flex-direction: column;

}

.b11{
    grid-column: 1;
}

.switch2 {
    font-size: 17px;
    position: absolute;
    z-index: 3;
    display: inline-block;
    margin-left: 7vh;
  }

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: absolute;
    z-index: 3;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(182, 182, 182);
    transition: .4s;
    border-radius: 10px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 8px;
    left: 0.3em;
    bottom: 0.3em;
    transform: rotate(270deg);
    background-color: rgb(255, 255, 255);
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: #21cc4c;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }