.app-usershow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; 
    background-color: rgba(0,0,0,0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-loader {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100vh;  
    grid-template-rows: 1fr 10fr;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.cont-loader{
  width: 100%;
  height: 100%;
}

.pospsp {
    height: 65vh;
}
.loader{
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.button-selected{
  background-color: black;
  color: white;
  font-weight: 700;
}