<tr class="text-gray-400">
    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">
        Type</th>
    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">
        Where</th>
    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 hidden md:table-cell">
        Description</th>
    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">
        Amount</th>
    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 sm:text-gray-400 text-white">
        Date</th>
</tr>