<app-GlobalLoader *ngIf="isSubmitting" />
<div class="noti">
    <div @slideInOut *ngIf="alert" class="alerrt rounded-l-xl rounded-r-xl"> <p>{{ response }}</p></div>
</div>
<app-confirmation-dialog *ngIf="showConfirmationDialog" [message]="dialogMessage" (onConfirm)="onSubmit()" (onCancel)="closeDialog()"/>
<h1 class="titulo">Users</h1>
<div class=" ksks flex items-center justify-center h-screen">
    <div *ngIf="empty" class="flex items-center justify-center text-white text-sm">
        No hay usuarios que mostrar
    </div>
    <div class="container mx-auto px-4 overflow-y-auto" style="height: 70vh;" *ngIf="!empty">
        <div class="overflow-x-auto">
        <table class="min-w-full table-auto leading-normal">
            <thead>
                <tr>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider rounded-l-xl">
                        ID
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Name
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Email
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Role
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider rounded-r-xl">
                        Acciones
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users">
                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                        <div class="overflow-x-auto max-w-xs whitespace-nowrap">
                            {{user.id}}
                        </div>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                        <div class="overflow-x-auto max-w-xs whitespace-nowrap">
                            {{user.name}}
                        </div>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                        <div class="overflow-x-auto max-w-xs whitespace-nowrap">
                            {{user.email}}
                        </div>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                        <div class="overflow-x-auto max-w-xs whitespace-nowrap">
                            {{user.role}}
                        </div>
                    </td>
                      
                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                        <div class="flex space-x-4 justify-center">
                            <button (click)="abrirconfirm(user.id)" class="px-4 py-2 bg-green-500 text-white font-bold rounded hover:bg-red-700 flex items-center">
                                <i class="fas fa-ban"></i><span class="ml-2">Cambiar role</span>
                              </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>
</div>


