
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 10.5rem;
    transition:  0.5s;
    background-color: #19181d;
    border-radius: 10px;
}
.cont{
    grid-template-rows: 1fr 8fr 4fr;
}

.img-sensor .bi{
    font-size: 3rem;
    color: #49484b;
}

.data-text{
    font-size: 1.8rem;
    font-weight: 600;
}

/* 
    Data coorecta
 */
.correct-pil{
    height: 80%;
    background-color: #484e44;
    border-radius: 20px;
}

.correct-pil .bi{
    font-size: 0.8rem;
    color: #9ac779;
}


.correct-pil p{
    font-size: 0.8rem;
    color: #86ab6c;
}

/* 
    Data incorrecta
 
 */
.incorrect-pil{
    height: 80%;
    background-color: #534647;
    border-radius: 20px;
}

.incorrect-pil .bi{
    font-size: 0.8rem;
    color: #f28893;
}


.incorrect-pil p{
    font-size: 0.8rem;
    color: #f28893;
}
