<section class="w-full h-full grid"  style="background-color: #1a1c1e;">
    <section class="logo flex justify-center items-center">
        <div class="img"></div>
    </section>
    <section class="menu flex justify-center items-center flex-col gap-10">
        <div class="cover">
            <i class="bi bi-house-fill" routerLink="/dashboard"></i>
        </div>
        <div class="cover">
            <i class="bi bi-pie-chart-fill" routerLink="/dashboard/control"></i>
        </div>
        <div class="cover">
            <i class="bi bi-cpu" routerLink="/dashboard/employee/store/device"></i>
        </div>
    </section>
    <section class="profile flex justify-center items-center">
      <div class="cover">
      <i class="bi bi-person-fill" routerLink="/dashboard/my/info"></i>
      </div>
    </section>
    <section class="profile flex justify-center items-center">
      <div class="cover">
      <button class="bi bi-box-arrow-right" (click)="exit()"></button>
      </div>
    </section>
</section>
