<section class="w-full h-full grid"  style="background-color: #00000093;">
    <section class="logo flex justify-center items-center">
        <div class="img"></div>
    </section>
    <section class="menu flex justify-center items-center flex-col gap-10">
        <div class="cover">
            <i class="bi bi-house-fill" routerLink="/dashboard"></i>
        </div>
        <div class="cover">
            <i class="bi bi-pie-chart-fill" routerLink="/dashboard/control"></i>
        </div>
        <div class="cover" *ngIf="role === 2">
            <i class="bi bi-stack" routerLink="/dashboard/employee/devicesindex"></i>
        </div>
        <div class="cover" *ngIf="role === 2">
            <i class="bi bi-people-fill" routerLink="/dashboard/employee/usersindex"></i>
        </div>
    </section>
    <section class="profile flex justify-center items-center">
      <div class="cover">
      <i class="bi bi-person-fill" routerLink="/dashboard/my/info"></i>
      </div>
    </section>
    <section class="profile flex justify-center items-center">
        <button class="bi bi-box-arrow-right" (click)="exitt()"></button>
    </section>
</section>
