<app-GlobalLoader *ngIf="isSubmitting" />
<div class="  text-gray-900 flex justify-center" style="height: 100vh; background-color: #09070e;">
    <div class="max-w-screen-xl m-0 sm:m-10  shadow sm:rounded-lg flex justify-center flex-1" style="background-color: #19181d;">
        <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
            <section class="logo-cont flex justify-center items-center ">
                <div class="logo h-full w-full"></div>
            </section>
            <div class="mt-5 flex flex-col items-center justify-center">
                <div class="w-full flex-1 mt-8">
                    <form class="mx-auto max-w-xs" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="textInputWrapper">
                            <input
                            name="email"
                            formControlName="email"
                            placeholder="Email" type="text" class="textInput">
                          <div class="alert"
                               *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                            <div
                              *ngIf="loginForm.controls['email'].errors?.['required']">El email es requerido.
                            </div>
                            <div
                              *ngIf="loginForm.controls['email'].errors?.['email']">
                              Formato de email incorrecto.
                            </div>
                          </div>
                        </div>

                        <div class="textInputWrapper">
                            <input
                            name="password"
                            formControlName="password"
                            placeholder="Password" type="password" class="textInput">
                          <div class="alert"
                               *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                            <div
                              *ngIf="loginForm.controls['password'].errors?.['required']">La contraseña es requerida.
                            </div>
                          </div>
                        </div>

                        <button [disabled]="!loginForm.valid || isSubmitting"
                            type="submit"
                            class="mt-5 tracking-wide font-semibold text-white-500 w-full py-4 rounded-lg hover:bg-green-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none" style="background-color: #a3e583;">
                            <svg class="w-6 h-6 -ml-2" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                                <circle cx="8.5" cy="7" r="4" />
                                <path d="M20 8v6M23 11h-6" />
                            </svg>
                            <span class="ml-">
                                Sign In
                            </span>
                        </button>


                      <div class="alert" *ngIf="backendErrorMessage">
                        <div class="text-red-500">
                          {{ backendErrorMessage }}
                        </div>
                      </div>

                      <div class="text-red-500" *ngIf="notfound">
                        User Not Found.
                      </div>

                      <div class="text-red-500" *ngIf="passwordVerify" >
                        Incorrect password.
                      </div>

                      <div class="text-red-500" *ngIf="error">
                        Server error.
                      </div>

                      <div class="alert" *ngIf="backendErrors">
                        <div class="text-red-500" *ngFor="let error of backendErrors | keyvalue">
                          {{ error.value }}
                        </div>
                      </div>

                      <p class="mt-6 text-xs text-gray-600 text-center">
                        Don't have an account?
                        <a
                        (click)="register()"
                        class="hover:underline cursor-pointer text-green-500">Sign up</a>
                        <br>
                        <a (click)="showModal = true"
                          class="hover:underline cursor-pointer text-green-500">Forgot my password.</a>
                    </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex-1 text-center hidden lg:flex" style="background-color: #141317;">
          <div class="flex justify-center items-center w-full h-screen bg-contain bg-center bg-no-repeat">
              <div class="cube-container">
                <div class="cube">
                  <div class="face front">¡My Little Assistant!</div>
                  <div class="face back">¡Welcome!</div>
                  <div class="face right">¡Welcome!</div>
                  <div class="face left">¡Welcome!</div>
                  <div class="face top">¡My Little Assistant!</div>
                  <div class="face bottom">¡Welcome!</div>
                </div>
              </div>
            </div>
        </div>

      <app-global-modal
        [message]="modalMessage" [title]="modalTitle"
        *ngIf="showModal"
        (onCancel)="closeModal()"
        (onConfirm)="submitPasswordRecovery()"
      >
        <form class="mx-auto max-w-xs" [formGroup]="recoveryPasswordForm" (ngSubmit)="submitPasswordRecovery()">
          <div class="textInputWrapper">
            <input
              name="email"
              formControlName="email"
              placeholder="Email" type="text" class="textInput">
            <div class="alert"
                 *ngIf="recoveryPasswordForm.controls['email'].invalid && (recoveryPasswordForm.controls['email'].dirty || recoveryPasswordForm.controls['email'].touched)">
              <div
                *ngIf="recoveryPasswordForm.controls['email'].errors?.['required']">El email es requerido.
              </div>
              <div
                *ngIf="recoveryPasswordForm.controls['email'].errors?.['email']">
                Formato de email incorrecto.
              </div>
            </div>
          </div>
        </form>

      </app-global-modal>
    </div>
</div>
