<div class="block rounded-xl  p-4 shadow-sm focus:outline-none focus:ring" style="background-color: #272727;">
    <div class="grilla">
        <div class="info">
            <span class="inline-block rounded-lg p-3 borders" style="background-color: #c9c9c9;">
                <i class="bi bi-ev-front-fill"></i>
            </span>
            <h2 class="mt-2 font-bold text-white" >Device number:</h2>
            <h2 class="mt-2 font-bold text-white" >{{reference}}</h2>
        </div>

        <div class="btnns">
            <Button class="unlink" (click)="clickk()">Unlink</Button>
            <Button class="selectt" (click)="clickk2()">Select</Button>

        </div>
    </div>


</div>