<app-GlobalLoader *ngIf="isSubmitting" />
<div class="flex flex-col md:flex-row items-center  justify-center text-gray-900" style="height: 100%; width: 100%;">

  <div class="flex flex-col md:flex-row text-gray-900" style="height: 90%; width: 90%; background-color: #00000088; border-radius: 3vh; padding: 2vh;">

    <div class="w-full md:w-4/12 p-6 sm:p-12">

      <section class="logo-cont flex justify-center items-center mb-4">
        <div class="logo h-full w-full"></div>
      </section>

      <div class="max-w-xs mb-4" *ngIf="!editProfile">
        <span class="username block mb-2">{{userData?.name}}</span>
        <span class="email block">{{userData?.email}}</span>
      </div>

      <button
        (click)="editProfile = !editProfile"
        *ngIf="!editProfile"
        class="w-full mx-auto block rounded text-center py-2 mt-4"
        style="background-color: #373E47; color: #ADBAC7; border: 1px solid #414646; font-weight: bold; border-radius: 10px">
        Edit Profile
      </button>

      <form [formGroup]="userUpdateForm" (ngSubmit)="showDialog()" *ngIf="editProfile">
            <div class="textInputWrapper">
              <input
                name="name"
                formControlName="name"
                placeholder="Your Name" type="text" class="textInput">

              <div class="alert"
                   *ngIf="userUpdateForm.controls['name'].invalid  &&  (userUpdateForm.controls['name'].dirty || userUpdateForm.controls['name'].touched)">
                <div *ngIf="userUpdateForm.controls['name'].errors?.['required']">El nombre es requerido.
                </div>
                <div
                  *ngIf="userUpdateForm.controls['name'].errors?.['minlength']">
                  El nombre debe tener al menos 3 caracteres.
                </div>
              </div>
            </div>

            <div class="textInputWrapper">
              <input
                name="email"
                formControlName="email"
                placeholder="Your Email" type="text" class="textInput">

              <div class="alert"  *ngIf="userUpdateForm.controls['email'].invalid && (userUpdateForm.controls['email'].dirty || userUpdateForm.controls['email'].touched)">
                <div *ngIf="userUpdateForm.controls['email'].errors?.['required']">
                  El email es requerido.
                </div>
                <div
                  *ngIf="userUpdateForm.controls['email'].errors?.['email']">
                  El email debe ser válido.
                </div>
              </div>
            </div>
            <p (click)="updatePassword()" class="text-blue-400 hover:text-blue-200">Actualizar mi contraseña</p>
        <br>
        <div class="flex justify-between" style="width: 165px;">
          <button
            [disabled]="userUpdateForm.invalid || isSubmitting"
            class="block rounded text-center py-2 px-4"
            style="background-color: #347D39; color: #ffffff; font-weight: bold; border: 1px solid #195d04; border-radius: 10px;">
            Save
          </button>

          <button
            type="button"
            (click)="editProfile = !editProfile"
            class="block rounded text-center py-2 px-4"
            style="background-color: #373E47; color: #C5D1DE; font-weight: bold; border: 1px solid #414646; border-radius: 10px">
            Cancel
          </button>
        </div>


        <app-confirmation-dialog *ngIf="showConfirmationDialog" [message]="dialogMessage" (onConfirm)="onSubmit()" (onCancel)="closeDialog()"/>
            <app-confirmation-dialog *ngIf="showSecondaryDialog" [message]="secondaryDialogMessage" (onConfirm)="onSubmit()" (onCancel)="closeDialog()"/>
      </form>

      <app-global-modal *ngIf="showUpdatePasswordModal"
                        [message]="updatePasswordModalMessage"  [title]="updatePasswordModalTitle" (onCancel)="closeDialog()" (onConfirm)="submitPasswordUpdate()">
        <form class="mt-5 flex flex-col items-center justify-center" [formGroup]="updatePasswordForm" (ngSubmit)="submitPasswordUpdate()">
          <div class="textInputWrapper">
            <input
              name="old_password"
              formControlName="old_password"
              placeholder="Tu contraseña antigua" type="password" class="textInput">

            <div class="alert"
                 *ngIf="updatePasswordForm.controls['old_password'].invalid  &&  (updatePasswordForm.controls['old_password'].dirty || updatePasswordForm.controls['old_password'].touched)">
              <div *ngIf="updatePasswordForm.controls['old_password'].errors?.['required']">La contraseña antigua es requerida.
              </div>
            </div>
          </div>

          <div class="textInputWrapper">
            <input
              name="password"
              formControlName="password"
              placeholder="Tu nueva contraseña" type="password" class="textInput">

            <div class="alert"
                 *ngIf="updatePasswordForm.controls['password'].invalid  &&  (updatePasswordForm.controls['password'].dirty || updatePasswordForm.controls['password'].touched)">
              <div *ngIf="updatePasswordForm.controls['password'].errors?.['required']">Tu nueva contraseña es requerida.
              </div>
              <div
                *ngIf="updatePasswordForm.controls['password'].errors?.['minlength']">
                Tu nueva contraseña debe tener al menos 6 caracteres.
              </div>
            </div>
          </div>

          <div class="textInputWrapper">
            <input
              name="password_confirmation"
              formControlName="password_confirmation"
              placeholder="Confirma tu nueva contraseña" type="password" class="textInput">

            <div class="alert"
                 *ngIf="updatePasswordForm.controls['password_confirmation'].invalid  &&  (updatePasswordForm.controls['password_confirmation'].dirty || updatePasswordForm.controls['password_confirmation'].touched)">
              <div *ngIf="updatePasswordForm.controls['password_confirmation'].errors?.['required']">La confirmación de la contraseña es requerida.
              </div>
              <div
                *ngIf="updatePasswordForm.controls['password_confirmation'].errors?.['minlength']">
                La confirmación de la contraseña debe tener al menos 6 caracteres.
              </div>
            </div>
          </div>
        </form>
      </app-global-modal>
    </div>

    <div class="flex items-center justify-center md:w-8/12 bg-transparent" style="position: relative; height: 100%; width: 80%; background-color: #0002145e; border-radius: 3vh; padding: 2vh; gap: 10vh; box-shadow: 0 0 15px rgba(255, 255, 255, 0.212); overflow: hidden;">
      <div class="stars"></div>
       <div 
        class="devices indess" style="max-height: 80vh;">
        <div *ngFor="let device of devices">
            <app-device-row-user
            (click)="selectDevice(device.id)"
            [reference]="device.code"/>
        </div>
        
        <div *ngIf="emptyDevices" class=" flex w-full h-full flex-col text-white justify-center items-center">
          Hubo un error al mostrar los dispositivos.
        </div>
      </div>
      <app-devicestore  class=" indess devicestore" (success)="success()"></app-devicestore>

  </div>
</div>

</div>
 