<app-GlobalLoader *ngIf="isSubmitting" />
<div class="  text-gray-900 flex justify-center" style="height: 100vh; background-color: #09070e;">
  <div class="max-w-screen-xl m-0 sm:m-10  shadow sm:rounded-lg flex justify-center flex-1" style="background-color: #19181d;">
    <div class="flex-1 text-center hidden lg:flex" style="background-color: #141317;">
      <div class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat img"></div>
    </div>
    <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
      <section class="logo-cont flex justify-center items-center ">
        <div class="logo h-full w-full"></div>
      </section>
      <form class="mt-5 flex flex-col items-center justify-center" [formGroup]="userUpdateForm" (ngSubmit)="showDialog()">
        <div class="w-full flex-1 mt-8">
          <div class="mx-auto max-w-xs">
            <div class="textInputWrapper">
              <input
                name="name"
                formControlName="name"
                placeholder="Your Name" type="text" class="textInput">

              <div class="alert"
                   *ngIf="userUpdateForm.controls['name'].invalid  &&  (userUpdateForm.controls['name'].dirty || userUpdateForm.controls['name'].touched)">
                <div *ngIf="userUpdateForm.controls['name'].errors?.['required']">El nombre es requerido.
                </div>
                <div
                  *ngIf="userUpdateForm.controls['name'].errors?.['minlength']">
                  El nombre debe tener al menos 3 caracteres.
                </div>
              </div>
            </div>

            <div class="textInputWrapper">
              <input
                name="email"
                formControlName="email"
                placeholder="Your Email" type="text" class="textInput">

              <div class="alert"  *ngIf="userUpdateForm.controls['email'].invalid && (userUpdateForm.controls['email'].dirty || userUpdateForm.controls['email'].touched)">
                <div *ngIf="userUpdateForm.controls['email'].errors?.['required']">
                  El email es requerido.
                </div>
                <div
                  *ngIf="userUpdateForm.controls['email'].errors?.['email']">
                  El email debe ser válido.
                </div>
              </div>
            </div>
            <p (click)="updatePassword()" class="text-blue-400 hover:text-blue-200">Actualizar mi contraseña</p>
            <button
              [disabled]="userUpdateForm.invalid || isSubmitting"
              class="mt-5 tracking-wide font-semibold text-white-500 w-full py-4 rounded-lg hover:bg-green-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none" style="background-color: #a3e583;">

              <span class="ml-">
                                Actualizar
                            </span>
            </button>

            <div class="alert" *ngIf="backendValidatorErrors">
              <div class="text-red-500" *ngFor="let error of backendValidatorErrors | keyvalue" >
                {{ error.value }}
              </div>
            </div>

            <app-confirmation-dialog *ngIf="showConfirmationDialog" [message]="dialogMessage" (onConfirm)="onSubmit()" (onCancel)="closeDialog()"/>
            <app-confirmation-dialog *ngIf="showSecondaryDialog" [message]="secondaryDialogMessage" (onConfirm)="onSubmit()" (onCancel)="closeDialog()"/>
          </div>
        </div>
      </form>

      <app-global-modal *ngIf="showUpdatePasswordModal"
                        [message]="updatePasswordModalMessage"  [title]="updatePasswordModalTitle" (onCancel)="closeDialog()" (onConfirm)="submitPasswordUpdate()">
        <form class="mt-5 flex flex-col items-center justify-center" [formGroup]="updatePasswordForm" (ngSubmit)="submitPasswordUpdate()">
          <div class="textInputWrapper">
            <input
              name="old_password"
              formControlName="old_password"
              placeholder="Tu contraseña antigua" type="password" class="textInput">

            <div class="alert"
                 *ngIf="updatePasswordForm.controls['old_password'].invalid  &&  (updatePasswordForm.controls['old_password'].dirty || updatePasswordForm.controls['old_password'].touched)">
              <div *ngIf="updatePasswordForm.controls['old_password'].errors?.['required']">La contraseña antigua es requerida.
              </div>
            </div>
          </div>

          <div class="textInputWrapper">
            <input
              name="password"
              formControlName="password"
              placeholder="Tu nueva contraseña" type="password" class="textInput">

            <div class="alert"
                 *ngIf="updatePasswordForm.controls['password'].invalid  &&  (updatePasswordForm.controls['password'].dirty || updatePasswordForm.controls['password'].touched)">
              <div *ngIf="updatePasswordForm.controls['password'].errors?.['required']">Tu nueva contraseña es requerida.
              </div>
              <div
                *ngIf="updatePasswordForm.controls['password'].errors?.['minlength']">
                Tu nueva contraseña debe tener al menos 6 caracteres.
              </div>
            </div>
          </div>

          <div class="textInputWrapper">
            <input
              name="password_confirmation"
              formControlName="password_confirmation"
              placeholder="Confirma tu nueva contraseña" type="password" class="textInput">

            <div class="alert"
                 *ngIf="updatePasswordForm.controls['password_confirmation'].invalid  &&  (updatePasswordForm.controls['password_confirmation'].dirty || updatePasswordForm.controls['password_confirmation'].touched)">
              <div *ngIf="updatePasswordForm.controls['password_confirmation'].errors?.['required']">La confirmación de la contraseña es requerida.
              </div>
              <div
                *ngIf="updatePasswordForm.controls['password_confirmation'].errors?.['minlength']">
                La confirmación de la contraseña debe tener al menos 6 caracteres.
              </div>
            </div>
          </div>
        </form>
      </app-global-modal>
    </div>
  </div>
</div>
