<tr>
    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
        <div class="flex items-center">
            <svg viewBox="0 0 24 24" class="w-4 mr-5 text-green-500" stroke="currentColor" stroke-width="3" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <polyline points="19 12 12 19 5 12"></polyline>
            </svg>
            Income
        </div>
    </td>
    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
        <div class="flex items-center">
            <img class="w-7 h-7 mr-2.5 border border-gray-200 dark:border-gray-800 rounded-full"
                src="https://images.unsplash.com/photo-1519699047748-de8e457a634e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt="profile" />
            Jane Cooper
        </div>
    </td>
    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">
        Invoice No: 12993</td>
    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 text-green-500">
        + $24.00</td>
    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
        <div class="flex items-center">
            <div class="sm:flex hidden flex-col">
                01.04.2020
                <div class="text-gray-400 text-xs">09:45 AM</div>
            </div>
            <button class="w-8 h-8 inline-flex items-center justify-center text-gray-400 ml-auto">
                <svg viewBox="0 0 24 24" class="w-5" stroke="currentColor" stroke-width="2" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                </svg>
            </button>
        </div>
    </td>
</tr>