
<section class="fondoAnimado w-full flex justify-center items-center " style="height: 100vh;">
  <app-GlobalLoader class="inded" *ngIf="loadinglogout"></app-GlobalLoader>
  <div class=" primerc">
    <app-devicestore @slideInOut *ngIf="registrar" (closee)="close()" (success)="success()"></app-devicestore>
    <div *ngIf="!registrar" class=" contenedorprinc" @slideInOut>
      <div class="mx-auto max-w-lg text-center">
        <h2 class="text-3xl font-bold sm:text-4xl">Selecciona un dispositivo</h2>

        <p class="mt-4 text-gray-600">
          El dispositivo que selecciones será el que mostrara el control de sus sensores en el dashboard, no te preocupes, puedes cambiarlo en cualquier momento.
        </p>
      </div>
      <button *ngIf="!emptyDevices" class="vincular" (click)="vincular()">Vincular un dispositivo</button>

      <div
        *ngIf="!emptyDevices"
        class="devices" style="max-height: 80vh;">
        <div *ngFor="let device of devices">
            <app-device-row 
            (click)="selectDevice(device.code)"
            [reference]="device.code"/>
        </div>
      </div>

      <div *ngIf="emptyDevices" class=" padd flex w-full h-full flex-col text-white justify-center items-center">
        No hay dispositivos que mostrar.
        <button class="vincular" (click)="vincular()">Vincular un dispositivo</button>
      </div>

    </div>
    <button class="logout" (click)="logout()">Logout</button>

  </div>
</section>