.title-p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card{

box-shadow:  16px 16px 32px #17191c,
             -16px -16px 32px #27292e
}

.title{
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    
}


.contenedorprinc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2vh;
}

.devices{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 15px;
    width: 50%;
    height: 30vh;
    padding: 5vh;
    background-color: #0000009c;
    border-radius: 4vh;

    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Firefox: barra, fondo */

    &::-webkit-scrollbar {
        width: 8px; /* Ancho del scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: transparent; /* Fondo del track, transparente para no verlo */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5); /* Color de la barrita con transparencia */
        border-radius: 4px; /* Bordes redondeados para la barrita */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(162, 164, 255, 0.74); /* Color de la barrita al pasar el mouse */
    }
}

.logout {
    margin-top: auto;
    background-color: #7e0000a9;
    width: 20vh;
    height: 5vh;
    border-radius:2vh;
}

.padd{
    gap: 2vh;
}

.vincular {
    background-color: #00027ea9;
    width: 20vh;
    height: 5vh;
    border-radius: 2vh;
}

#body{
    grid-template-rows: 1fr 5fr;
    background-color: #272a2f;
    border-radius: 20px;
}

.zindx{
    z-index: 5;
    position: absolute;
  }
.primerc {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    height: 70vh;
    overflow: hidden;
  }
  
.fondoAnimado {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: text-gray-900;
    overflow: hidden;
    background: #000;
}
  
.fondoAnimado::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 21, 54), rgb(0, 0, 0));
    animation: moverGradiente 10s infinite ease-out;
}
  
@keyframes moverGradiente {
    0%, 100% {
      transform: translateY(-50%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
}