<div class="h-screen flex overflow-hidden text-sm">
    <div class="flex-grow overflow-hidden h-full flex flex-col">
        <div class="flex-grow flex overflow-x-hidden">
            <div
                class="xl:w-72 w-48 flex-shrink-0 border-r border-gray-200 dark:border-gray-800 h-full overflow-y-auto lg:block hidden p-5">
                <div class="text-xs text-gray-400 tracking-wider">SENSORES</div>
                <div class="relative mt-2">
                    <input type="text"
                        class="pl-8 h-9 bg-transparent border border-gray-300 dark:border-gray-700 dark:text-white w-full rounded-md text-sm"
                        placeholder="Search" />
                    <svg viewBox="0 0 24 24"
                        class="w-4 absolute text-gray-400 top-1/2 transform translate-x-0.5 -translate-y-1/2 left-2"
                        stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </div>
                <div class="space-y-4 mt-3 flex flex-col custom-scrollbar" style="max-height: 83vh; overflow: auto;">
                    <app-card-sensor sensorName="Ultrasonico" sensorIcon="bi bi-code-slash" [sensorValue]=20 />
                    <app-card-sensor sensorName="Temperatura" sensorIcon="bi bi-code-slash" [sensorValue]=60 />
                    <app-card-sensor sensorName="Velocidad" sensorIcon="bi bi-code-slash" [sensorValue]=80 />
                    <app-card-sensor sensorName="Angulo de inclinacion" sensorIcon="bi bi-code-slash" [sensorValue]=100 />
                    <app-card-sensor sensorName="Gps" sensorIcon="bi bi-code-slash" [sensorValue]=20 />
                    <app-card-sensor sensorName="Sensor presencia" sensorIcon="bi bi-code-slash" [sensorValue]=60 />
                    <app-card-sensor sensorName="Sensor de luz" sensorIcon="bi bi-code-slash" [sensorValue]=80 />
                </div>
            </div>
            <div class="router h-full w-full">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>