/* You can add global styles to this file, and also import other style files */
@import  '../node_modules/ngx-toastr/toastr.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body{
    background-color: #1f2125;
    color: #e2e8f0;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
}

.sub-text{
    font-size: 0.8rem;
    color: #49484b;
}

.sb-text{
    font-size: 1.2rem;
    color: #49484b;
}

.nm-text{
    font-size: 1rem;
    font-weight: 400;
}

.hd-text{
    font-size: 1.5rem;
    font-weight: 600;
}


.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



